/* Landing.css */

.landing-page {
  margin: 40px;
  margin-top: 20px;
  text-align: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  color: #555;
}

.animated-section {
  margin-bottom: 30px;
}

.animation-box {
  width: 120px;
  height: 150px;
  /* background-color: #3498db; */
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%; /* Adjust as needed */
}

.animated-section p {
  font-size: 16px;
  color: #666;
}

.about-us-section,
.admissions-section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #27ae60;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #219653;
}
